[user]
	name = Andreas Neiser
	email = andreas.neiser@gmail.com
[push]
	default = upstream
[color]
	branch = auto
	diff = auto
	status = auto
[merge]
	tool = mymeld
	conflictstyle = diff3
[mergetool "mymeld"]
	cmd = meld --diff $BASE $LOCAL --diff $BASE $REMOTE --diff $LOCAL $BASE $REMOTE $MERGED
[alias]
	logk = log --graph --pretty=oneline --abbrev-commit --decorate
[core]
	autocrlf = input
	excludesfile = ~/.gitignore_global
